#profile {
  height: 70vh;
  padding: 2rem 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1rem;
  padding-top: 10rem;
  max-width: 1200px;
  margin: 0 auto;

  .section__pic-container {
    width: 250px;
    height: 250px;
    border-radius: 50%;

    img {
      width: 100%;
      height: auto;
    }
  }

  .section__text {
    text-align: center;

    p {
      margin-top: 1px;
      font-weight: 600;
    }

    .section__text__p1 {
      color: rgb(85, 85, 85);
    }

    .title {
      font-size: 2rem;
      color: #333;
    }

    .btn-container {
      display: flex;
      justify-content: center;
      gap: 1rem;
      margin-top: 1rem;
    }
  }

  /* Container para os ícones sociais */
  #socials-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    gap: 1rem;

    .icon-content {
      position: relative;
      width: 50px;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      background-color: #fff;
      transition: all 0.3s ease-in-out;

      /* Estilo dos links para centralizar os ícones */
      a {
        display: flex;
        justify-content: center;
        align-items: center;
        color: rgb(53, 53, 53);
        width: 100%;
        height: 100%;
      }

      /* Efeito de hover para ícone */
      &:hover {
        box-shadow: 3px 2px 45px 0px rgba(0, 0, 0, 0.12);
        transform: scale(1.1);
      }

      /* Estilo para o tooltip */
      .tooltip {
        position: absolute;
        bottom: -35px;
        background-color: #333;
        color: #fff;
        font-size: 0.8rem;
        padding: 0.3rem 0.5rem;
        border-radius: 0.3rem;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s ease, transform 0.3s ease;
        transform: translateY(10px);
      }

      &:hover .tooltip {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
      }
    }
  }

  /* Media Query para dispositivos móveis */
  @media (max-width: 768px) {
    height: auto; /* Permitir que a altura se ajuste ao conteúdo */
    padding-top: 5rem;
    padding: 1rem;
    gap: 2rem;

    .section__pic-container {
      width: 200px;
      height: 200px;
    }

    .section__text {
      .title {
        font-size: 1.5rem;
      }

      p {
        font-size: 1rem;
      }
    }

    #socials-container {
      gap: 1rem;

      .icon-content {
        width: 40px;
        height: 40px;
      }
    }
  }
}
