.btn-container {
  display: flex;
  justify-content: center;
  gap: 1rem;

}

.btn {
  font-weight: 550;
  padding: 1rem;
  width: 8rem;
  margin-top: 2rem;
  border-radius: 1rem;
  color: rgb(53, 53, 53);
  border: 0.1rem solid rgb(163, 163, 163);

}

.btn-color-1{
  background-color: rgb(53, 53, 53);
  color: white; 
}
.btn-color-2 {
  border: 0.1rem solid rgb(163, 163, 163);
  background-color: white;
}

/* Efeito de Hover */
.btn-color-1:hover{

  cursor: pointer;
  transform: scale(1.05); /* Expande o botão levemente */
  box-shadow: 0 0 10px rgba(53, 53, 53, 0.6); /* Efeito de aura */
  background-color: white;
  color: rgb(53, 53, 53);

}
.btn-color-2:hover {
  cursor: pointer;
  transform: scale(1.05); /* Expande o botão levemente */
  box-shadow: 0 0 10px rgba(53, 53, 53, 0.6); /* Efeito de aura */
  background-color: rgb(53, 53, 53) ;
  color: white;
}




