#about {
  height: 70vh;
  padding: 2rem 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10rem;
  max-width: 1200px; /* Limita a largura total da seção */

  .section__text {
    text-align: center;
    padding: 2rem;

    p {
      margin-top: 1px;
      font-weight: 600;
      color: rgb(53, 53, 53);
    }

    .section__text__p1 {
      text-align: center;
      color: rgb(85, 85, 85);
    }

    .title {
      font-size: 2rem;
      color: #333;
    }}

  .about-content {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    
    
  

    .about-pic-container {
      width: 180px; /* Tamanho fixo para evitar que a imagem saia da seção */
      height: 280px;
      display: flex;
      justify-content: center;

      img {
        border-radius: 1rem;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .about-details {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;

      .details {
        padding: 1rem;
        border-radius: 1rem;
        border: 0.1rem solid rgb(163, 163, 163);
        text-align: center;
        transition: transform 0.3s ease, box-shadow 0.3s ease;

        &:hover {
          transform: scale(1.05);
          box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
        }

        .detail-icon {
          width: 40px;
          height: 40px;
        }

        h3 {
          font-size: 1.25rem;
          margin: 0.5rem 0;
        }

        p {
          font-size: 1rem;
          margin: 0.5rem 0;
        }
      }
    }

    .about-description {
      margin-top: 5px;
      width: 40%; /* Limita a largura da descrição */
      font-size: 2rem;
      line-height: 1.6rem;
      color: rgb(85, 85, 85);
      
    }
  }

  /* Responsividade para Dispositivos Móveis */
  @media (max-width: 768px) {
    height: auto;
    padding-top: 5rem;
    .about-content {
      justify-content: center;
      flex-direction: column;
      align-items: center;

      .about-pic-container {
        border-radius: 1rem;
        width: 50%;
        height: 100%;
        -webkit-border-radius: 1rem;
        -moz-border-radius: 1rem;
        -ms-border-radius: 1rem;
        -o-border-radius: 1rem;
}

      .about-details,
      .about-description {
        width: 100%;
        padding: 0 1rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        flex-wrap: nowrap;
        justify-content: center;
        text-align: start;
        align-items: center;
      }

      }
    }
  }

