#footer {
        height: auto;
        margin: 2rem;
        padding-top: 12rem;


footer p {
    text-align: center;
}
}


@media (max-width: 768px) {
    footer p {
        text-align: center;
        font-size: 0.8rem;
    }
}